<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {height: 450px}

        /* Set gray background color and 100% height */
        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }
            .row.content {height:auto;}
        }
        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
            opacity: 1;
            transition: opacity 0.6s;
            margin-bottom: 15px;
        }

        .alert.success {background-color: #04AA6D;}
        .alert.info {background-color: #2196F3;}
        .alert.warning {background-color: #ff9800;}

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

        .closebtn:hover {
            color: black;
        }
        table {
            border-collapse: collapse;
            border: 2px solid rgb(140 140 140);
            font-family: sans-serif;
            font-size: 16px;
            letter-spacing: 1px;
            width: 100%;
        }

        caption {
            caption-side: top;
            padding: 10px;
            font-weight: bold;
            text-align: center;
        }

        thead,
        tfoot {
            background-color: rgb(228 240 245);
        }

        th,
        td {
            border: 1px solid rgb(160 160 160);
            padding: 8px 10px;
        }

        td:last-of-type {
            text-align: center;
        }

        tbody > tr:nth-of-type(even) {
            background-color: rgb(237 238 242);
        }

        tfoot th {
            text-align: right;
        }

        tfoot td {
            font-weight: bold;
        }
        th{
            text-align: center;
        }

    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/company">Profile</a></li>
<!--                <li><a href="/company/find-candidates">Find Candidate</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <div style="display: flex; justify-content: center; flex-direction: column">
                <div style="display: flex; justify-content: center; flex-direction: column">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#addSkillModal">Add Skill</button>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#addJobModal" style="margin-top: 10px">Add Job</button>
                </div>
            </div>

        </div>
        <div class="col-sm-8 text-left" style="margin-top: 30px">
            <div class="alert info" th:if="${message}">
                <span class="closebtn">&times;</span>
                <strong>Info!</strong> <p th:text="${message}"></p>
            </div>
            <div class="alert warning" th:if="${error}">
                <span class="closebtn">&times;</span>
                <strong>Warning!</strong> <p th:text="${error}"></p>
            </div>

            <div  th:if="${company}" style="display: flex">
                <div style="width: 100px">User Name</div>:
                <p th:text="${company.getName()}"></p>
            </div>
            <div  th:if="${company}" style="display: flex">
                <div style="width: 100px">Email</div>:
                <p th:text="${company.getEmail()}"></p>
            </div>
            <div  th:if="${company}" style="display: flex">
                <div style="width: 100px">Phone Number</div>:
                <p th:text="${company.getPhone()}"></p>
            </div>
            <div style="margin-top: 30px" th:if="${jobs}">
                <table>
                    <caption style="font-size: 20px">Jobs</caption>
                    <!-- Header -->
                    <thead>
                    <tr>
                        <th rowspan="2">Name</th>
                        <th rowspan="2">Description</th>
                        <th colspan="4">Job Skill</th>
                        <th rowspan="2">Find Candidate For Job</th>
                        <th rowspan="2">Status</th>
                    </tr>
                    <tr>
                        <th>Skill name</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>More Infos</th>
                    </tr>
                    </thead>
                    <!-- Body -->
                    <tbody th:each="job : ${jobs}">
                        <tr >
                            <!-- Hiển thị thông tin công việc -->
                            <td th:rowspan="${#lists.size(job.jobSkills) > 0 ? job.jobSkills.size() : 1}" th:text="${job.getJobName()}"></td>
                            <td th:rowspan="${#lists.size(job.jobSkills) > 0 ? job.jobSkills.size() : 1}" th:text="${job.getJobDesc()}"></td>

                            <!-- Hiển thị thông tin kỹ năng đầu tiên nếu có -->
                            <td th:if="${#lists.size(job.jobSkills) > 0}" th:text="${job.jobSkills[0].skill.skillName}"></td>
                            <td th:if="${#lists.size(job.jobSkills) > 0}" th:text="${job.jobSkills[0].skill.skillDescription}"></td>
                            <td th:if="${#lists.size(job.jobSkills) > 0}" th:text="${job.jobSkills[0].skill.type}"></td>
                            <td th:if="${#lists.size(job.jobSkills) > 0}" th:text="${job.getStatus().name()}"></td>
                            <td th:if="${#lists.size(job.jobSkills) > 0}">
                                <a th:if="${job.getStatus().name().equals('OPEN')}" th:href="@{/company/find-candidates(jobId=${job.id})}">Find</a>
                            </td>
                            <td th:if="${#lists.size(job.jobSkills) > 0 && job.getStatus()!= null && job.getStatus().name().equals('OPEN')}">
                                <a th:href="@{/company/status-job(jobId=${job.id},status='CLOSE')}">Close</a>
                            </td>
                            <td th:if="${ #lists.size(job.jobSkills) > 0 && job.getStatus()!= null && job.getStatus().name().equals('CLOSE')}">
                                <a th:href="@{/company/status-job(jobId=${job.id},status='OPEN')}">Open</a>
                            </td>

                            <!-- Nếu không có kỹ năng, hiển thị thông báo -->
                            <td th:if="${job.jobSkills == null or #lists.size(job.jobSkills) == 0}" colspan="4">No skills available</td>
                        </tr>

                        <!-- Hiển thị các kỹ năng còn lại (nếu có) -->
                        <tr th:each="skill, iterStat : ${job.jobSkills}">
                            <td th:if="${iterStat.index > 0}" ></td>
                            <td th:if="${iterStat.index > 0}" ></td>
                            <td th:if="${iterStat.index > 0}" th:text="${skill.skill.skillName}"></td>
                            <td th:if="${iterStat.index > 0}" th:text="${skill.skill.skillDescription}"></td>
                            <td th:if="${iterStat.index > 0}" th:text="${skill.skill.type}"></td>
                            <td th:if="${iterStat.index > 0}" th:text="${skill.moreInfos}"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="addJobModal" tabindex="-1" role="dialog" aria-labelledby="addJobModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h5 class="modal-title" id="addJobModalLabel">Add New Job</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Modal Body -->
            <div class="modal-body">
                <form id="addJobForm" action="/company/add-job" method="post">
                    <!-- Job Name -->
                    <div class="form-group">
                        <label for="jobName">Job Name</label>
                        <input type="text" class="form-control" id="jobName" name="jobName" placeholder="Enter job name" required>
                    </div>

                    <!-- Job Description -->
                    <div class="form-group">
                        <label for="jobDescription">Description</label>
                        <textarea class="form-control" id="jobDescription" name="jobDescription" rows="3" placeholder="Enter job description" required></textarea>
                    </div>

                    <!-- Job Skills -->
                    <div class="form-group">
<!--                        <label for="jobSkills">Skills</label>-->
                        <div id="jobSkillsContainer">
                            <div id="skills">
                                <div class="row mb-2">
                                    <div class="col-md-6" style="display: flex" >
                                        <input placeholder="search skill" class="col-md-6" style="height: 35px; border-radius: 5px; " onchange="handleChangeTextSkill(event, 'select-skill-0','skillDescription0')"/>
                                        <select id="select-skill-0" class="form-control col-md-6" name="skills[0].id" required onchange="handleShowSkillDescription(event,'skillDescription0')">
                                            <!-- Options dynamically generated -->
                                        </select>

                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-control" name="skills[0].skillLevel" required>
                                            <option value="">Select Skill Level</option>
                                            <option value="MASTER">Master</option>
                                            <option value="BEGINER">Beginner</option>
                                            <option value="ADVANCED">Advanced</option>
                                            <option value="PROFESSIONAL">Professional</option>
                                            <option value="IMTERMEDIATE">Intermediate</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="button" class="btn btn-success btn-sm add-skill-btn">+</button>
                                    </div>
                                </div>
                                <div class="row mb-2 col-md-12" style="margin-top: 10px; margin-bottom: 10px">
                                    <textarea id="skillDescription0" class="form-control col-md-12" rows="2" disabled></textarea>
                                </div>
                                <div class="row mb-2 col-md-12" style="margin-top: 10px; margin-bottom: 10px">
                                    <textarea class="form-control col-md-12" id="moreInfos" name="skills[0].moreInfos" rows="2" placeholder="Enter skill more info" required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer" >
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="addJobForm" class="btn btn-primary">Save Job</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Adding Skill -->
<div id="addSkillModal" class="modal fade" role="dialog" aria-hidden="true" tabindex="-1" aria-labelledby="addSkillModalLabel" >
    <div class="modal-dialog"  role="document">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Skill</h4>
                </div>
            <form action="/skills/add" method="post">

                <div class="modal-body">
                    <!-- Skill Name -->

                    <div class="form-group">
                        <label for="skillName">Skill Name:</label>
                        <input type="text" class="form-control" id="skillName" name="skillName" required>
                    </div>
                    <!-- Skill Description -->
                    <div class="form-group">
                        <label for="skillDescription">Skill Description:</label>
                        <textarea class="form-control" id="skillDescription" name="skillDescription" rows="3"></textarea>
                    </div>
                    <!-- Skill Type -->
                    <div class="form-group">
                        <label for="type">Skill Type:</label>
                        <select class="form-control" id="type" name="type" required>
                            <option value="SOFT_SKILL">Soft Skill</option>
                            <option value="TECHNICAL_SKILL">Technical Skill</option>
                            <option value="UNSPECIFIC">Unspecified</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Save Skill</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    var close = document.getElementsByClassName("closebtn");
    var i;

    for (i = 0; i < close.length; i++) {
        close[i].onclick = function(){
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function(){ div.style.display = "none"; }, 600);
        }
    }
    // JavaScript to dynamically add skill rows
    document.querySelector('.add-skill-btn').addEventListener('click', function () {
        const container = document.getElementById('jobSkillsContainer');
        const row = document.createElement('div');
        const index = container.children.length
        row.classList.add('row', 'mb-2');
        row.innerHTML = `
              <div class="col-md-6" style="display: flex; margin-top: 10px" >
                <input placeholder="search skill" class="col-md-6" style="height: 35px; border-radius: 5px; " onchange="handleChangeTextSkill(event, 'select-skill-${index}'),''"/>
                <select id="select-skill-${index}" class="form-control col-md-6" name="skills[${index}].id" required onchange="handleShowSkillDescription(event,'skillDescription${index}')">
                <!-- Options dynamically generated -->
                </select>

              </div>
            <div class="col-md-4" style="margin-top: 10px">
                <select class="form-control" name="skills[${index}].skillLevel" required>
                    <option value="">Select Skill Level</option>
                    <option value="MASTER">Master</option>
                    <option value="BEGINER">Beginner</option>
                    <option value="ADVANCED">Advanced</option>
                    <option value="PROFESSIONAL">Professional</option>
                    <option value="IMTERMEDIATE">Intermediate</option>
                </select>
            </div>
            <div class="col-md-2" style="margin-top: 10px">
                <button type="button" class="btn btn-danger btn-sm remove-skill-btn">-</button>
            </div>
        `;


        const rowDivMoreInfo = document.createElement('div');
        rowDivMoreInfo.classList.add('row', 'mb-2', 'col-md-12');
        rowDivMoreInfo.style.marginTop = "10px";
        rowDivMoreInfo.style.marginBottom = "10px";

        const textArea = document.createElement('textarea');
        textArea.classList.add('form-control', 'col-md-12');
        textArea.id = 'moreInfos';
        textArea.name = `skills[${index}].moreInfos`;
        textArea.rows = 2;
        textArea.placeholder = "Enter skill more info";
        textArea.required = true;

        rowDivMoreInfo.appendChild(textArea);

        const div = document.createElement("div")
        div.appendChild(row)
        div.appendChild(createSkillDescriptionRow(index))
        div.appendChild(rowDivMoreInfo)
        container.appendChild(div);

        // Remove skill row
        row.querySelector('.remove-skill-btn').addEventListener('click', function () {
            row.remove();
        });
    });
    function createSkillDescriptionRow(index) {
        const rowDiv = document.createElement('div');
        rowDiv.classList.add('row', 'mb-2', 'col-md-12');
        rowDiv.style.marginTop = "10px";
        rowDiv.style.marginBottom = "10px";

        const textArea = document.createElement('textarea');
        textArea.id = `skillDescription${index}`;
        textArea.classList.add('form-control', 'col-md-12');
        textArea.rows = 2;
        textArea.disabled = true; // Đặt textarea là disabled
        rowDiv.appendChild(textArea);

        return rowDiv;
    }
    async function fetchSkills(name){
        try {
            const response  = await fetch('http://localhost:8080/api/skills?name='+name);
            if(!response.ok){
                return[];
            }
            const data = await response.json();
            return data;
        }catch (e){
            return []
        }
    }
    async function handleChangeTextSkill(event, idSelect, idArea){
        const elementSelect = document.getElementById(idSelect)
        const elementArea = document.getElementById(idArea)
        if (elementSelect != null){
            // elementSelect.blur()
            elementSelect.innerHTML = "";
            const textSearch = event.target.value;
            const data = await fetchSkills(textSearch)
            data.skills.forEach((skill,index)=>{
                if(index===0){
                    elementArea.value = skill.skillDescription
                }
                const elementSkill = document.createElement("option")
                elementSkill.text = skill.skillName;
                elementSkill.value = skill.id;
                elementSkill.dataset.description = skill.skillDescription;
                elementSelect.appendChild(elementSkill)
            })
            elementSelect.focus()
        }
    }
    function handleShowSkillDescription(event,elementIdShowDescription){
        const elementShowSkillDescription = document.getElementById(elementIdShowDescription)
        console.log(elementShowSkillDescription)
        if(elementShowSkillDescription != null){
            const selectedOption = event.target.options[event.target.selectedIndex];
            elementShowSkillDescription.value = selectedOption.dataset.description;
        }
    }
</script>

</body>
</html>

