<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>
        TUYỂN DỤNG 2TH
    </title>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <link rel="icon" href="https://i.imgur.com/PdQZdyG.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="navbar">
    <div class="logo">
        <img alt="Logo" height="40"
             src="https://i.imgur.com/PdQZdyG.png"
             width="40"/>
        <span class="gradient">
     TUYỂN DỤNG 2TH
    </span>

    </div>
    <div class="menu">
        <div>
            <a href="/candidates">
                Dữ liệu phân trang
            </a>
        </div>
        <div>
            <a href="/list">
                Dữ liệu không phân trang
            </a>
        </div>
        <div>
            <a href="#">
                Cơ hội việc làm
            </a>
        </div>
        <div>
            <a href="#">
                Công cụ
                <i class="fas fa-caret-down">
                </i>
            </a>
            <div class="dropdown">
                <a href="#">
                    Trắc nghiệm tính cách
                </a>
                <a href="#">
                    Tính lương Gross sang Net
                </a>
                <a href="#">
                    Trang trí CV
                </a>
                <a href="#">
                    Cẩm nang nghề nghiệp
                </a>
            </div>
        </div>
        <div>
            <a href="#">
                Đăng ký/Đăng nhập
            </a>
        </div>
        <div>
            <a href="#" id="employerButton">
                Nhà Tuyển Dụng
            </a>
        </div>

        <div>
            <img alt="Flag" height="20"
                 src="https://cdn.pixabay.com/photo/2017/01/31/15/17/banner-2024974_640.png"
                 width="30"/>
        </div>
    </div>

    <div id="employerModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Thông Tin Tuyển Dụng</h2>
            <form id="jobForm" method="post" action="/saveJob">

                <a>Chọn Công Ty</a>
                <br>
                <select class="select_box" id="companySelect" name="companyId" onchange="updateCompanyDetails()">
                    <option value="" disabled selected>Chọn một công ty</option>
                    <option th:each="company : ${listCompanies}"
                            th:value="${company.id}"
                            th:text="${company.compName}"
                            th:data-phone="${company.phone}"
                            th:data-email="${company.email}"
                            th:data-website="${company.webUrl}">
                    </option>
                </select>
                <br>
                <label for="phoneNumber">Số Điện Thoại</label>
                <input type="tel" id="phoneNumber" name="phoneNumber" readonly>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" readonly>

                <label for="website">URL Website</label>
                <input type="url" id="website" name="website" readonly>

                <label for="jobTitle">Tên Công Việc</label>
                <input type="text" id="jobTitle" name="jobTitle" required>

                <label for="jobDescription">Chi Tiết Công Việc</label>
                <textarea id="jobDescription" name="jobDescription" rows="4" required></textarea>

                <label for="postedDate">Ngày Đăng</label>
                <input type="date" id="postedDate" name="postedDate" required>

                <label for="expiryDate">Ngày Hết Hạn</label>
                <input type="date" id="expiryDate" name="expiryDate" required>

                <label for="salaryRange">Mức Lương</label>
                <input type="text" id="salaryRange" name="salaryRange" required>

                <a>Kinh Nghiệm Cần Có</a>
                <br>
                <select class="form-select" id="experienceSelect" name="experienceRequired" required>
                    <option value="under_1_year">Dưới 1 năm</option>
                    <option value="1_to_3_years">Từ 1 đến 3 năm</option>
                    <option value="3_to_5_years">Từ 3 đến 5 năm</option>
                    <option value="over_5_years">Trên 5 năm</option>
                </select>


                <br>

                <label for="location">Vị Trí Công Việc</label>
                <input type="text" id="location" name="location" required>

                <button type="submit">Gửi</button>
            </form>
        </div>
    </div>
</div>
<div class="content">
    <div class="banner">
        <button class="arrow left">&lt;</button>
        <div class="slides">
            <div class="slide">
                <img src="https://vieclam24h.vn/_next/image?url=https%3A%2F%2Fcdn1.vieclam24h.vn%2Fimages%2Fseeker-banner%2F2024%2F02%2F26%2Fbanner-web-awo---tha%25CC%2581ng-2_170891267692.jpg&w=1920&q=75"
                     alt="Image 1">
            </div>
            <div class="slide">
                <img src="https://vieclam24h.vn/_next/image?url=https%3A%2F%2Fcdn1.vieclam24h.vn%2Fimages%2Fseeker-banner%2F2024%2F03%2F08%2FPC-Banner-AWO-Mar2024_170988353144.jpg&w=1920&q=75"
                     alt="Image 2">
            </div>
            <div class="slide">
                <img src="https://vieclam24h.vn/_next/image?url=https%3A%2F%2Fcdn1.vieclam24h.vn%2Fimages%2Fseeker-banner%2F2024%2F09%2F24%2FMatbao-PC%2520(1)_172715873880.jpg&w=1920&q=75"
                     alt="Image 3">
            </div>
        </div>
        <button class="arrow right">&gt;</button>
    </div>

</div>
<div th:if="${message}" id="notification" class="notification-container">
    <div class="notification-box">
        <span th:text="${message}"></span>
        <button id="okButton" class="ok-button">OK</button>
    </div>
</div>
</body>
<script src="/js/modal.js"></script>
<script src="/js/slide.js"></script>
</html>
