<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>
        TUYỂN DỤNG 2TH
    </title>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <link rel="icon" href="https://i.imgur.com/PdQZdyG.png" type="image/png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lexend:wght@100..900&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="navbar">
    <div class="logo">
        <img alt="Logo" height="40"
             src="https://i.imgur.com/PdQZdyG.png"
             width="40"/>
        <span class="gradient">
     TUYỂN DỤNG 2TH
    </span>

    </div>
    <div class="menu">
        <div>
            <a href="/candidates">
                Dữ liệu phân trang
            </a>
        </div>
        <div>
            <a href="/list">
                Dữ liệu không phân trang
            </a>
        </div>
        <div>
            <a href="#">
                Cơ hội việc làm
            </a>
        </div>
        <div>
            <a href="#">
                Công cụ
                <i class="fas fa-caret-down">
                </i>
            </a>
            <div class="dropdown">
                <a href="#">
                    Trắc nghiệm tính cách
                </a>
                <a href="#">
                    Tính lương Gross sang Net
                </a>
                <a href="#">
                    Trang trí CV
                </a>
                <a href="#">
                    Cẩm nang nghề nghiệp
                </a>
            </div>
        </div>
        <div>
            <a href="#">
                Đăng ký/Đăng nhập
            </a>
        </div>
        <div>
            <a href="#" id="employerButton">
                Nhà Tuyển Dụng
            </a>
        </div>

        <div>
            <img alt="Flag" height="20"
                 src="https://cdn.pixabay.com/photo/2017/01/31/15/17/banner-2024974_640.png"
                 width="30"/>
        </div>
    </div>

    <!-- Modal -->
    <div id="employerModal" class="modal" style="display:none;">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Thông Tin Tuyển Dụng</h2>
            <form>
                <label for="companyName">Tên Công Ty</label>
                <input type="text" id="companyName" name="companyName" required>

                <label for="phoneNumber">Số Điện Thoại</label>
                <input type="tel" id="phoneNumber" name="phoneNumber" required>

                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>

                <label for="website">URL Website</label>
                <input type="url" id="website" name="website" required>

                <label for="jobTitle">Tên Công Việc</label>
                <input type="text" id="jobTitle" name="jobTitle" required>

                <label for="jobDescription">Chi Tiết Công Việc</label>
                <textarea id="jobDescription" name="jobDescription" rows="4" required></textarea>

                <label for="skillLevel">Mức Độ Kỹ Năng (1 đến 5)</label>
                <input type="number" id="skillLevel" name="skillLevel" min="1" max="5" required>

                <button type="submit">Gửi</button>
            </form>
        </div>
    </div>
</div>
<div class="content">

</div>
</body>
<script src="/js/modal.js"></script>
</html>
